.header-banner {
  position:    relative;
  &__icon {
    display:       block;
    width:         44px;
    margin-bottom: 5px;
    img {
      display: block;
      width:   100%;
    }
  }
  &__slider {
    img {
      display: block;
      width:   100%;
    }
  }
  &__line {
    display:        block;
    width:          40%;
    height:         3px;
    border-radius:  30px;
    margin-top:    21px;
    margin-bottom: 21px;
    background:     #213B32;
  }
}
