.stages-const {
  padding-top: 79px;
  overflow:    hidden;
  &__title {
    padding-bottom: 24px;
  }
}

.owl-stages {
  padding-top: 45px;
  .owl-stage-outer {
    overflow: visible;
  }
  &__label-block {
    position:         absolute;
    top:              20px;
    left:             20px;
    padding:          9px 13px;
    border-radius:    30px;
    background-color: #fff;
    &_photo {
      padding-left:        40px;
      background-image:    url('/img/icons/photographer.svg');
      background-repeat:   no-repeat;
      background-position: center left 10px;
    }
  }
  &__img-block {
    border-radius: 10px;
    overflow:      hidden;
    margin-bottom: 33px;
    img {
      display: block;
      width:   100%;
    }
  }
}

.owl-stages-arrow {
  user-select: none;
  &__left, &__right {
    display:             inline-block;
    width:               38px;
    height:              38px;
    border:              1px solid #E0E0E0;
    border-radius:       50%;
    background-image:    url('/img/icons/arrow-slider.svg');
    background-position: center left 13px;
    background-repeat:   no-repeat;
    background-size:     9px;
    cursor:              pointer;
    transition:          .3s;
    &:hover {
      background-color: #f2f2f2;
    }
  }
  &__left {
    margin-right: 22px;
  }
  &__right {
    transform: rotate(180deg);
  }
}